<extend name="Layout/master" />
<block name="title">Helens-美女开台</block>
<block name="head">
    <style>

    </style>
</block>

<block name="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class=""> <a href="{:U('/mvkt/index')}" target="_self" class="btn btn-primary ">返回</a> </div>
                <div class="ibox-title">
                    <h5><a href="{:U('/mvkt/index')}"> 活动列表</a> > <small>活动详情</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="edit" target="_self" action="?" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">台主昵称：</label>
                            <div class="col-sm-10">
                                <input type="text" name="nickname" value="{$data.nickname}" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别：</label>
                            <div class="col-sm-10">
                                <select type="text" name="sex"  class="form-control"  id="sex">
                                    <option value="1" <if condition="$data.sex eq 1">selected</if>>男</option>
                                    <option value="2" <if condition="$data.sex eq 2">selected</if>>女</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开台头像：</label>
                            <div class="col-sm-10">
                               <img src="{$data.img}" height="80px;">
                            </div>
                        </div>

                        <!--<div class="hr-line-dashed "></div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">倒计时头像：</label>-->
                            <!--<div class="col-sm-10">-->
                               <!--<img src="{$data.time_img}" height="80px;">-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">星座：</label>
                            <div class="col-sm-10">
                                <input type="text" name="constellation" value="{$data.constellation}" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">包台人数：</label>
                            <div class="col-sm-10">
                                <input type="text" name="total_num" value="{$data.total_num}" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别优先：</label>
                            <div class="col-sm-10">
                                <select type="text" name="sex_limit"  class="form-control"  id="sex_limit">
                                    <option value="1" <if condition="$data.sex_limit eq 1">selected</if>>不限性别</option>
                                    <option value="2" <if condition="$data.sex_limit eq 2">selected</if>>男士优先</option>
                                    <option value="2" <if condition="$data.sex_limit eq 3">selected</if>>女士优先</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">桌上游戏：</label>
                            <div class="col-sm-10">
                                <input type="text" name="games" value="{$data.games}" class="form-control">
                                <span class="help-block m-b-none" style="color: #777">多种游戏请用竖线(|)分隔，例如：疯狂啤酒|狼人杀</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">主喝酒水：</label>
                            <div class="col-sm-10">
                                <input type="text" name="wine" value="{$data.wine}" class="form-control">
                                <span class="help-block m-b-none" style="color: #777">多种酒水请用竖线(|)分隔，例如：啤酒|鸡尾酒</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开台时间：</label>
                            <div class="col-sm-10">
                                <input type="text" name="start_time" class="form-control" readonly value="<if condition='$data.start_time'>{$data.start_time|date='Y-m-d',###}</if>">

                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">活动具体时间：</label>
                            <div class="col-sm-10">
                                <input type="text" name="specific_time" class="form-control" readonly value="{$data.specific_time}">
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">人均消费金额：</label>
                            <div class="col-sm-10">
                                <input type="text" name="per_consume" value="{$data.per_consume}" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">台主留言：</label>
                            <div class="col-sm-10">
                                <input type="text" name="message" value="{$data.message}" class="form-control">
                            </div>
                        </div>

                        <!--<div class="hr-line-dashed "></div>-->
                        <!--&lt;!&ndash;子标签&ndash;&gt;-->
                            <!--<foreach name="data.tags" item="tag" key="k" >-->
                                <!--<if condition="$tag neq ''">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-2 control-label">自定义标签:</label>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type='text' class='form-control' value="{$tag}" name="tags"/>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--</if>-->
                            <!--</foreach>-->


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开台地址：</label>
                            <div class="col-sm-3">
                                <input type='text' class='form-control' value="{$data.detail_adress}" name="tags"/>
                            </div>

                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">

</block>