body, html, .menu-fixed{
    background:#F0F0EF;
}
#loginContent > div{
    padding:0 15px;
}
.login-box .dividing-line::after{
    width:92%;
}
.login-box{
    background:#fff;
    border-radius:3px;
}
.login-box label.iconfont{
    font-size:30px;
    padding:8px 10px;
}
.login-box .wrap{
    height:46px;
    overflow:hidden;
}
.login-box input{
    width:100%;
    height:45px;
    padding:16px 5px 11px;
    box-sizing:border-box;
    line-height:18px;
    font-size:15px;
}
.forgot-pwd{
    text-align:right;
    line-height:220%;
}
.login-buttons, .login-buttons a:last-child{
    margin-top:20px;
}