<extend name="Layout/baseMaster" />
<block name="title">魔座</block>
<block name="head">
    <link href="__PUBLIC__/css/userCenter.css?v=__VERSION__" rel="stylesheet" />
    <style>
        #rechargeContent{
            position: absolute;
            left:50%;
            top:45%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width:65%;
            background: #fff;
            border:1px solid pink;
            padding:0px 5% 5%;
            text-align: center;
            z-index: 100;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            border-radius:8px;
            display: none;
        }
        #rechargeContent img{
            height: 1.875rem;
            width: 3rem;
            margin-top: 0.5rem;
        }
        #rechargeContent .info{
            margin-top: 0.3rem;
        }
        #rechargeContent .overage{
            color: #FBB37D;
        }
        #rechargeContent .footer{
            margin-top: 15px;
        }
        #rechargeContent .footer span{
            line-height: 30px;
            text-align: center;
            height:30px;
            width:40%;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
        }
        #rechargeContent .footer #cancel{
            border:1px solid #F8B2A8;
            color: #F9C7BF;
            margin-right: 5%;
        }
        #rechargeContent .footer #sure{
            color: #fff;
            background: linear-gradient(45deg, #fa9d50, #f27d6b);
            background: -webkit-linear-gradient(45deg, #fa9d50, #f27d6b);
            margin-left: 5%;
        }
        #dialog{
            display: none;
        }
        .text-item-content .over{
            font-size: 13px;
            padding:0 13px;
            width:1.3rem;
        }
        .text-item-content .money{
            color: #F89FA0;
        }
        .text-item-content .mb{
            color: #F7CF94;
        }
        .text-item-content1{
            padding:0.3rem 8%;
        }
        .text-item-content1 .listImg{
            flex-grow: 1;
            display: inline-block;
            text-align: center;
            -webkit-flex-grow:1;
        }
        .text-item-content1 .listImg img{
            width:1.3rem;
            height:0.9rem;
        }
        .text-item-content1 .listImg a{
            display: inline-block;
        }
        .text-item-content1 .listImg p{
            margin-top: 6px;
            color: #666;
        }
        .product_list{ text-align: center; clear: both; height: 260px;}
        .product_list div.product_block{ margin: 0 auto; margin: 6px; border-top: #ddd 1px solid; text-align: center;}
        .product_list div.product_block div.product_item{ float: left; margin: 6px 1px; width: 32%; border: #efefef 1px solid; }
        .product_list div.product_block div.product_item div{ float: left; width: 100%; text-align: center; clear: both; line-height: 22px;}
        .product_list div.product_block div.product_item img{max-width: 100px;}
        #tabItems{}
        #tabItems li{ float: left; width: 33.2%; text-align: center; vertical-align: top; padding-top: 6px; }
        #tabItems li .package_block{ width: 82px; height: 79px; background: url(/Public/images/package.png) no-repeat; text-align: center; margin: 0 auto; position: relative; }
        .package_block .package_title{ font-size: 12px; color: #fff; line-height: 16px;}
        .package_block .package_money{ font-size: 12px; color: #000; line-height: 28px; font-weight: 600;}
        .package_block  .select_block{top: -6px; right: -6px; position: absolute; display: none;}
        .package_block .active{ display: block;}
        .package_block .package_bg_block img{ width: 100%; height: auto}
    </style>
</block>
<block name="content">
    <div class="content-padding abs100" style="padding-top:0px;">
        <div id="userCenterContent">
            <div class="user-info">
                <a href="javascript:sug('{:C('basic.support_qrcode')}')" >
                <img class="bg" src="{:C('basic.web_pic1')}" style="width: 100%" />
                </a>
            </div>
            <div class="text-item-tab wrap">
                <img src="__PUBLIC__/images/label.png" class="label">
                <span style="color: #666;">魔座编号： {$device_info.id}</span>
            </div>
            <div class="text-item-content" id="tabItems">
                <input type="hidden" name="url" value="{:tsurl('/index/order')}" />
                <input type="hidden" name="updateurl" value="{:tsurl('/index/update_order')}" />
                <input type="hidden" name="starturl" value="{:tsurl('/index/start',['order_sn'=>'order_snid'])}" />
                <input type="hidden" name="package_id" value="" />
                <ul class="">
                    <volist name="package_list" id="package">
                    <li>
                        <div class="package_block" data-id="{$package.id}">
                            <div class="select_block" ><img src="/Public/images/select.png" style="height: 16px;" /> </div>
                            <div class="package_bg_block">
                            <img src="{$package.package_pic}" />
                            </div>
                            <!--<div class="package_title">按摩<br/>{$package.package_time}分钟</div>
                            <div class="package_money"> ￥{$package.package_amount}元</div>-->
                        </div>
                    </li>
                    </volist>
                </ul>
            </div>
                <div style="clear: both"></div>
            <div style="clear: both; text-align: center; margin: 20px 0;">
                <a class="button" id="btnVercode" style="width: 120px; background: #ff9933; line-height: 32px; height: 32px;">点击支付</a>
                <a class="button" id="btnVercode2" style="width: 120px; margin-top: 12px; background: #169bd5;  line-height: 32px; height: 32px;" href="{:tsurl('/index/spread')}">他人推荐</a>
            </div>

            <div class="text-item-content1 wrap" style="padding: 12px; color: #bababa; font-size: 12px; line-height: 20px;">
                {:C('basic.web_text')}
            </div>

            <div class="product_list">
                <img src="{:C('basic.web_pic2')}" style="width: 100%;" />
                <!--
                <div class="product_block">
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi1.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi2.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi3.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                </div>-->
            </div>
            <div style="clear: both">&nbsp;</div>

        </div>
    </div>
</block>
<block name="js">
    <script src="http://zb.weixin.qq.com/nearbycgi/addcontact/BeaconAddContactJsBridge.js"></script>
    <script src="__PUBLIC__/js/userCenter.js?v=__VERSION__"></script>
    <script type="text/javascript">
        $('.package_block').click(function(){
            $('input[name="package_id"]').val($(this).attr('data-id'));
            $('.package_block').find('.active').removeClass('active');
            $(this).find('.select_block').addClass('active');
        });


        function sug(img){
            var okText, title;

            callback = function (){}

            var i = tools.dialog({
                title: title || "客服二维码",
                content: "<img src='"+img+"' style='width: 100%' />",
                dialogClass: "dialog-alert",
                contentStyle: {
                    padding: "5px 20px 0 20px",
                    color: "#888",
                    fontSize: "15px",
                    lineHeight: "150%"
                },
                btns: [{
                    text: okText || "确定",
                    click: function(){
                        tools.closeDialog(i);
                    },
                    clsName: "ok"
                }]
            });
        }
    </script>
</block>
