<extend name="Layout/master" />
<block name="title">首页</block>
<block name="head">
    <link href="__PUBLIC__/css/home.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
    <ul class="main-bg-list" id="mainBgList">
        <if condition="$alone eq 1">
            <if condition="$city eq 63">
            <li><img src="__PUBLIC__/images/worldgalaxy.png" /></li>
            <else />
            <li><img src="__PUBLIC__/images/red-bg.png" /></li>
            </if>
        </if>

        <volist name="adlist" id="item" key="k">
            <if condition="$k eq $signedcardidex">

                <if condition="$city eq 63">
                    <li><img src="__PUBLIC__/images/worldgalaxy.png" /></li>
                    <else />
                    <li><img src="__PUBLIC__/christmas/images/sign-bg.png" /></li>
                </if>
            </if>
            <if condition="$item['id'] gt 0">   
                <li><img src="{$item.bg_img}" /></li>
            </if>
        </volist>
    </ul>
    <div class="main-content">
        <div class="main-item-list" id="mainItemList">
            <if condition="$alone eq 1">   
             <div class="wrap wrap-vertical show" data-id="100000000" data-pv="{:pvUrl(100000000,$city)}">
                <div class="wrap-content">
                    <div class="main-item-content abs100">
                        <div class="sign-today">
                            {$curday_html}
                        </div>
                        <div class="main-item-title"><a href="javascript:void(0)" class="color-title">日日签到，天天有奖！</a></div>
                        <div class="main-item-remark"><a href="javascript:void(0)" class="color-remarks">你猜今天是现金还是M币呢？</a></div>

                    </div>
                </div>
                <div class="main-item-footer">
                    <p class="color-title sign-title">签到礼包</p>
                    <a id="btnSignToday" data-index="0" data-steps="['showRedBox']" data-image="{$config.pic}" data-content="{$config.content}"  data-text="['已签到']" data-disable="[true]" data-redbox="{signToDay:true}" class="button <if condition='$signed eq 1'>button-disable</if>" onclick="itemClick(this)"><if condition="$signed eq 1">已签到<else />签到领取</if></a>
                </div>
                </div>
                </if>
            <volist name="adlist" id="item" key="k">
                <if condition="$k eq $signedcardidex">   
                <div class="wrap wrap-vertical <if condition="$k eq 1">show</if>"  <if condition="$k eq 1">id="firstcard"</if> data-id="100000000" data-pv="{:pvUrl(100000000,$city)}">
                <div class="wrap-content">
                    <div class="main-item-content abs100">
                        <div class="sign-today">
                            {$curday_html}
                        </div>
                        <div class="main-item-title"><a href="javascript:void(0)" class="color-title">日日签到，天天有奖！</a></div>
                        <div class="main-item-remark">
                                <a href="javascript:void(0)" class="color-remarks">你猜今天是现金还是M币呢？</a>
                        </div>
                    </div>
                </div>
                <div class="main-item-footer">
                    <p class="color-title sign-title">签到礼包</p>
                    <a id="btnSignToday" data-index="0" data-steps="['showRedBox']" data-image="{$config.pic}" data-content="{$config.content}"  data-text="['已签到']" data-disable="[true]" data-redbox="{signToDay:true}" class="button <if condition='$signed eq 1'>button-disable</if>" onclick="itemClick(this)"><if condition="$signed eq 1">已签到<else />签到领取</if></a>
                </div>
                </div>
                </if>
                
                <if condition="$item['id'] gt 0">   
                {:recordCode($item['id'],$city)}
                <div class="wrap wrap-vertical" data-id="{$item['id']}" <if condition="$k eq 1 AND $signedcardidex neq 1">id="firstcard"</if>  data-pv="{:pvUrl($item['id'],$city)}">
                    <div class="wrap-content">
                        <div class="main-item-content abs100">
                            <if condition="$item['admetatype'] eq 4"> 
                                <a data-card ='{$item['data_card']}' data-clicked-ajax="{:redirectUrl_dataclicked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}"  data-looked-ajax="{:redirectUrl_datalooked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}"  data-index="0" data-steps="['addWxCard']" onclick="itemClick(this, '{$item['id']}')" data-disable="[false]" data-text="['']"  class="main-item-img"><img src="{$item.specImg}" /></a>
                            <else /> 
                                <a href="{:redirectUrl($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" class="main-item-img"><img src="{$item.specImg}" /></a>
                            </if>
                            <div class="main-item-title"><a href="javascript:void(0)" class="color-title">{$item.adName}</a></div>
                            <div class="main-item-remark">
                                    <a href="javascript:void(0)" class="color-remarks">{$item.subtitle}</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-item-footer">
                        <if condition="$item['disable'] eq 0">
                            <p class="color-focus">{$item.moneyper}</p>
                            <if condition="$item['admetatype'] eq 4"> 
                                <a data-card='{$item['data_card']}' data-clicked-ajax="{:redirectUrl_dataclicked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}"  data-looked-ajax="{:redirectUrl_datalooked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" id="otherItemBtn{$item['id']}" data-index="<if condition="$item['status'] eq 1">1<else />0</if>" data-steps="['{$item['step']}'<if condition="$item['disable'] eq 0">,'showRedBox'</if>]"  data-image="{$config.pic}" data-content="{$config.content}"  data-text="[<if condition="$item['disable'] eq 0">'领取红包', '已领取'<else />'{$item.clickbutton}'</if>]" data-disable="[false<if condition="$item['disable'] eq 0">, true</if>]" data-redbox="{signToDay:false,id:'{$item['id']}'}" class="button <if condition="$item['status'] eq 2">button-disable</if> " onclick="itemClick(this, '{$item['id']}')">{$item.clickbutton}</a>
                            <else /> 
                                <a id="otherItemBtn{$item['id']}"  <if condition="$item['tgrule'] eq 2"> data-loop="true" </if> data-href="{:redirectUrl($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" data-index="<if condition="$item['status'] eq 1">1<else />0</if>" data-steps="['{$item['step']}'<if condition="$item['disable'] eq 0">,'showRedBox'</if>]"  data-image="{$config.pic}" data-content="{$config.content}"  data-text="[<if condition="$item['disable'] eq 0">'领取红包', '已领取'<else />'{$item.clickbutton}'</if>]" data-disable="[false<if condition="$item['disable'] eq 0">, true</if>]" data-redbox="{signToDay:false,id:'{$item['id']}'}" class="button <if condition="$item['status'] eq 2">button-disable</if> "  onclick="itemClick(this, '{$item['id']}')">{$item.clickbutton}</a>
                            </if>
                        <elseif condition="$item['disable'] eq 3"/>
                            <if condition="$item['admetatype'] eq 4"> 
                                <a data-card='{$item['data_card']}' data-clicked-ajax="{:redirectUrl_dataclicked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" data-looked-ajax="{:redirectUrl_datalooked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}"  data-index="0" data-steps="['addWxCard']" onclick="itemClick(this, '{$item['id']}')" data-disable="[false]" data-text="['领取红包']"  class="button <if condition="$item['status'] eq 2">button-disable</if>">{$item.clickbutton}</a>
                            <else /> 
                                <a data-href="{:redirectUrl($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" onclick="itemClick(this, '{$item['id']}')"  class="button">{$item.clickbutton}</a>
                            </if>
                        <else />
                            <if condition="$item['admetatype'] eq 4"> 
                                <a data-card='{$item['data_card']}' data-clicked-ajax="{:redirectUrl_dataclicked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" data-looked-ajax="{:redirectUrl_datalooked_ajax($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}"  data-index="0" data-steps="['addWxCard']" onclick="itemClick(this, '{$item['id']}')" data-disable="[false]" data-text="['领取红包']"  class="button <if condition="$item['status'] eq 2">button-disable</if>">{$item.clickbutton}</a>
                            <else /> 
                                <a data-href="{:redirectUrl($item['jumpurl'],$item['id'],$city,$item['admetatype'],$openid,$unionid,$uid)}" onclick="itemClick(this, '{$item['id']}')"  class="button">{$item.clickbutton}</a>
                            </if>
                        </if>
                    </div>
                </div>
                </if>

            </volist>

        </div>
        <div class="main-index" id="mainIndex"><label class="active"></label><volist name="adlist" id="item"> <if condition="$item['id'] gt 0"><label></label></if></volist></div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/guide.js?v=__VERSION__"></script>
    <script src="__PUBLIC__/js/home.js?v=__VERSION__"></script>
</block>

