<extend name="layout/baseMaster" />
<block name="title">获得红包</block>
<block name="head">
    <link href="__PUBLIC__/css/obtainRedbox.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
    <div id="mainContent">
        <div class="head-image">
            <img class="abs100" src="__PUBLIC__/images/obtain-redbox-bg.png" />
            <if condition="$money_or_mcoins eq 1">
                <img class="abs100" src="__PUBLIC__/images/obtain-money.png" />
            <else />
                <img class="abs100" src="__PUBLIC__/images/obtain-mbi.png" /> 
            </if>
        </div>
        <!-- 此页面有两种状态，一种是获得现金，一种是获得M币，获得M币时请把注释部分显示并删除未注释的代码 -->
        <if condition="$money_or_mcoins eq 1">
            <div class="red-number color-focus">￥{$last_money_or_mcoins}</div>
            <div class="red-remarks color-remarks">已存入个人账户，满1元可直接体现</div>
        <else />
            <div class="red-number color-focus"><i class="iconfont color-remarks">&#xe608;</i>{$last_money_or_mcoins}</div>
            <div class="red-remarks color-remarks">已存入个人账户，可在积分商城兑换礼品</div>
        </if>
        <div class="user-info">
            <img src="__PUBLIC__/images/user-center-info-bg.jpg" />
            <div class="wrap color-white">
                <div>
                    <img src="{$wx_pic}" />
                </div>
                <div class="wrap-content">
                    <div class="user-name text-overhide">{$wx_name}</div>
                    <div>{$wx_time}</div>
                </div>
                <if condition="$money_or_mcoins eq 1">
                    <div class="balance">￥{$total_amount}</div>
                <else />
                    <div class="balance"><i class="iconfont">&#xe608;</i>{$total_amount}</div>
                </if>
            </div>
        </div>
        <div class="obtain-buttons">
            <if condition="$money_or_mcoins eq 1">
                <a href="{:tsurl('/user/index')}" class="button button-empty">查询我的现金余额</a>
            <else />
                <a href="{:tsurl('/user/index', array('tab'=>'mbi'))}" class="button button-empty">查询我的M币余额</a>
            </if>
            <a href="{:tsurl('/index/index')}" class="button">赚取更多</a>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/obtainRedbox.js?v=__VERSION__"></script>
</block>