<extend name="Layout/baseMaster" />
<block name="title">魔座</block>
<block name="head">
    <link href="__PUBLIC__/css/userCenter.css?v=__VERSION__" rel="stylesheet" />
    <style>
        #rechargeContent{
            position: absolute;
            left:50%;
            top:45%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width:65%;
            background: #fff;
            border:1px solid pink;
            padding:0px 5% 5%;
            text-align: center;
            z-index: 100;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            border-radius:8px;
            display: none;
        }
        #rechargeContent img{
            height: 1.875rem;
            width: 3rem;
            margin-top: 0.5rem;
        }
        #rechargeContent .info{
            margin-top: 0.3rem;
        }
        #rechargeContent .overage{
            color: #FBB37D;
        }
        #rechargeContent .footer{
            margin-top: 15px;
        }
        #rechargeContent .footer span{
            line-height: 30px;
            text-align: center;
            height:30px;
            width:40%;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
        }
        #rechargeContent .footer #cancel{
            border:1px solid #F8B2A8;
            color: #F9C7BF;
            margin-right: 5%;
        }
        #rechargeContent .footer #sure{
            color: #fff;
            background: linear-gradient(45deg, #fa9d50, #f27d6b);
            background: -webkit-linear-gradient(45deg, #fa9d50, #f27d6b);
            margin-left: 5%;
        }
        #dialog{
            display: none;
        }
        .text-item-content .over{
            font-size: 13px;
            padding:0 13px;
            width:1.3rem;
        }
        .text-item-content .money{
            color: #F89FA0;
        }
        .text-item-content .mb{
            color: #F7CF94;
        }
        .text-item-content1{
            padding:0.3rem 8%;
        }
        .text-item-content1 .listImg{
            flex-grow: 1;
            display: inline-block;
            text-align: center;
            -webkit-flex-grow:1;
        }
        .text-item-content1 .listImg img{
            width:1.3rem;
            height:0.9rem;
        }
        .text-item-content1 .listImg a{
            display: inline-block;
        }
        .text-item-content1 .listImg p{
            margin-top: 6px;
            color: #666;
        }
        .product_list{ text-align: center; clear: both; height: 260px;}
        .product_list div.product_block{ margin: 0 auto; margin: 6px; border-top: #ddd 1px solid; text-align: center;}
        .product_list div.product_block div.product_item{ float: left; margin: 6px 1px; width: 32%; border: #efefef 1px solid; }
        .product_list div.product_block div.product_item div{ float: left; width: 100%; text-align: center; clear: both; line-height: 22px;}
        .product_list div.product_block div.product_item img{max-width: 100px;}
        #tabItems{}
        #tabItems li{ float: left; width: 33.2%; text-align: center; vertical-align: top; padding-top: 6px; }
        #tabItems li .package_block{ width: 62px; height: 59px; background: url(/Public/images/package.png) no-repeat; text-align: center; margin: 0 auto; position: relative; }
        .package_block .package_title{ font-size: 12px; color: #fff; line-height: 16px;}
        .package_block .package_money{ font-size: 12px; color: #000; line-height: 28px; font-weight: 600;}
        .package_block  .select_block{top: -6px; right: -6px; position: absolute; display: none;}
        .package_block .active{ display: block;}
    </style>
</block>
<block name="content">
    <div class="content-padding abs100" style="padding-top:0px;">
        <div id="userCenterContent">
            <div class="user-info">
                <img class="bg" src="__PUBLIC__/spring/images/user-center-bg.jpg" />

            </div>
            <div class="text-item-tab wrap">
                <img src="__PUBLIC__/images/label.png" class="label">
                <span style="color: #666;">魔座编号： {$device_info.device_number}</span>
            </div>
                <div style="clear: both"></div>
            <div style="clear: both; text-align: center; margin: 20px 0;">
                <input type="hidden" name="starturl" value="{:tsurl('/index/start_device')}" />
                <input type="hidden" name="order_sn" value="{$order[order_sn]}" />
                <input type="hidden" name="status" value="{$order[status]}" />
                <input type="hidden" name="return_status" value="{$order[return_status]}" />
                <input type="hidden" name="start_status" value="{$order[start_status]}" />
                <input type="hidden" name="time" value="{:time()}" />
                <input type="hidden" name="sign" value="{:md5('!@#$%^+_)(*&^'.time())}" />

                <if condition="$order[status] eq 1">
                    <if condition="$order[start_status] eq '0'">
                        <a class="button" class="btnVercode" style="width: 120px; background: #ff9933; line-height: 32px; height: 32px;">启动</a>
                    <elseif  condition="$order[start_status] eq 1" />
                        <a class="button" class="btnVercode" style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">已启动</a>
                    <else />
                        <a class="button" class="btnVercode" style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">已完成</a>
                    </if>
                <elseif condition="$order[status] eq '0'" />
                    <if condition="$order[return_status] eq '0'">
                        <a class="button" class="btnVercode" href="{:tsurl('/index/index')}" style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">返回购买</a>
                    <elseif condition="$order[create_time]+120 gt time()" />
                        <a class="button" class="btnVercode" href="{:tsurl('/index/index')}" style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">返回购买</a>
                        <else/>
                        <a class="button" class="btnVercode" href="{:tsurl('/index/index')}" style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">准备中</a>
                    </if>
                <else />
                    <a class="button" class="btnVercode" href="{:tsurl('/index/index')}"  style="width: 120px; background: #169bd5; line-height: 32px; height: 32px;">返回购买</a>
                </if>
            </div>

            <div class="text-item-content1 wrap" style="padding: 12px; color: #bababa; font-size: 12px; line-height: 20px;">
                出门在外的人士，如果有一款贴心的按摩沙发随时随地，缓解旅途的疲劳，让您流连忘返，请试试魔座的产品。酒店、影院、地铁站甚至出租车上都有我们的身影，随手一扫，即可享受无处不在的舒适感觉。
            </div>

            <div class="product_list">
                <div class="product_block">
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi1.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi1.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                    <div class="product_item">
                        <div class="product_img"><img src="/Public/images/yizi1.jpg" /> </div>
                        <div class="product_title">绿色按摩</div>
                    </div>
                </div>
            </div>
            <div style="clear: both">&nbsp;</div>

        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/userCenter.js?v=__VERSION__" type="text/javascript"></script>
    <script type="text/javascript">

        wx.getLocation({

            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'

            success: function (res) {

                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90

                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。

                var speed = res.speed; // 速度，以米/每秒计

                var accuracy = res.accuracy; // 位置精度

                alert("lat="+latitude+",lon="+longitude+",speed="+speed+",accuracy="+accuracy);

            }

        });


        $('.btnVercode').click(function(){
            if($(this).text() == '启动'){
                tools.ajax($('input[name="starturl"]').val(),{
                    order_sn:data.order_sn
                }, function (result){
                    // 自动更新~
                    window.location.href = $('input[name="starturl"]').val().replace('order_snid', data.order_sn);
                });
            }

        });

        (function interval(){
            setTimeout(function(){
                if($('.btnVercode').text() == '准备中'){
                    window.location.reload();
                    return true;
                }

                if($('.btnVercode').text() == '已启动'){
                    // 同步成功状态~
                    tools.ajax($('input[name="updateurl"]').val(),{
                        order_sn:data.order_sn
                    }, function (result){
                        // 自动更新~
                        window.location.href = $('input[name="starturl"]').val().replace('order_snid', data.order_sn);
                    });
                    interval();
                }

            },10000);
        })();

    </script>
</block>
