<extend name="layout/master" />
<block name="title">视频互动</block>
<block name="head">
	<link href="__PUBLIC__/css/templateVote.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
    <div class="content-padding abs100">
        <div id="templateVoteContent">
            <div class="vote-top">
                <if condition="$adcontext['adType'] eq 1">
                    <img src="{$adcontext['adImage']}" /> 
                <else />
                    <iframe frameborder="0" id="frameVideo" data-src="{$adcontext['adVideo']}" allowfullscreen></iframe>
                </if>
            </div>
            <div class="vote-main">
                <div class="wrap">
                    <div class="vote-circle circle-big">
                        <div class="text-overhide color-link">{$adcontext['adTitle']}</div>
                    </div>
                    <div class="wrap-content vote-title">
                        <p class="color-link">{$adcontext['adSubTitle']}</p>
                        <div class="color-remarks">{$adcontext['adRemarks']}</div>
                    </div>
                </div>
                <volist name="adoptions" id="vo">
                <div class="wrap">
                    <div class="vote-circle">
                        <div class="color-link vote-question">问题</div>
                    </div>
                    <div class="wrap-content question-title">
                        <p class="color-link">{$vo['adQuestionTitle']}（<if condition="$vo['adQuestionType'] eq 1">单选<else />多选</if>）：</p>
                        <div class="color-link">{$vo['adQuestionRemark']}</div>
                    </div>
                </div>
                <volist name="vo['items']" id="f">
                <div class="wrap" onclick="selectedMe(this)">
                    <div class="vote-circle">
                        <div class="color-link vote-option-img">
                            <if condition="$vo['adQuestionType'] eq 1">
                                <input type="radio" data-name='name{$f['interindex']}' <php>if (in_array($f['interindex'], $anser)){ echo 'checked="checked"';} </php> <if condition="$has eq 1">disabled="disabled"</if> name="vote{$vo['index']}" value="{$f['interindex']}" />
                            <else />
                                <input type="checkbox" data-name='name{$f['interindex']}' <php>if (in_array($f['interindex'], $anser)){ echo 'checked="checked"';} </php><if condition="$has eq 1">disabled="disabled"</if>  name="vote{$f['interindex']}" value="{$f['interindex']}" />
                            </if>
                            <div>
                                <img src="{$f['adOptionsImg']}" />
                            </div>
                        </div>
                    </div>
                    <div class="wrap-content vote-option-text">
                        <p class="color-link">{$f['adOptionsText']}</p>
                    </div>
                </div>
                </volist>
                </volist>
            </div>
            <div class="vote-submit" id ='contentInputs'>
                <if condition="$has eq 0">
                    <a class="button " href="javascript:void(0)" onclick="submitVote(this)">提交</a>
                <else />
                    <a href="javascript:void(0)" class="button button-disable" >您已提交</a>
                </if>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidAdID" value="{$adcontext['adid']}" />
    <input type="hidden" id="hidAdMetaID" value="{$adcontext['admetaid']}" />
</block>
<block name="js">
	<script src="__PUBLIC__/js/templateVote.js?v=__VERSION__"></script>
</block>
