<extend name="layout/master" />
<block name="title">{$adcontext['adName']}</block>
<block name="head">
    <link href="__PUBLIC__/css/templateGetInfo.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
    <div class="content-padding abs100">
        <div class="wrap wrap-vertical main-info">
            <div class="head-main">
                <svg viewBox="0 0 637 437">
                    <clipPath id="truncated">
                        <path d="M0,0 L640,0 640,440 0,320 Z"></path>
                    </clipPath>
                    <image width="640" clip-path="url(#truncated)" height="440" x="0" y="0" xlink:href="{$adcontext['specImg']}" />
                    <g onclick="changeInputState()" id="btnChangeInputState">
                        <circle cx="410" cy="395" r="40" stroke="#fff" stroke-width="3" fill="#EF7E1B"></circle>
                        <path id="mainPath" d="M395,388 L410,403 425,388" fill="transparent" stroke="#fff" stroke-width="3"></path>
                    </g>
                </svg>
            </div>
            <div class="wrap-content">
                <div class="content-text" id="contentText">
                    <h2 class="color-link">{$adcontext['adName']}</h2>
                    <div class="color-remarks">{$adcontext['adRemarks']}</div>
                </div>
                <div class="content-inputs wrap wrap-vertical" id="contentInputs">
                    <div class="input-top"></div>
                    <div class="wrap-content input-items">
                        <div id="inputItems">
                            <if condition="$has eq 0">
                                <volist name="adoptions" id="item">
                                    <div class="wrap">
                                        <div class="dividing-line">{$item.adOptionsText} </div>
                                        <div class="dividing-line dividing-line-x"></div>
                                        <div class="dividing-line wrap-content"><input type="text" onfocus="textboxFocus(this)" data-must='{$item['adOptionsMust']}' name="item{$item.id}" /></div>
                                    </div>
                                </volist>
                                <else />
                                <volist name="adoptions" id="item">
                                    <div class="wrap">
                                        <div class="dividing-line">{$item.adOptionsText} </div>
                                        <div class="dividing-line dividing-line-x"></div>
                                        <div class="dividing-line wrap-content"><input type="text" value="{$item.anser}" disabled="disabled" data-must='{$item['adOptionsMust']}' name="item{$item.id}" /></div>
                                    </div>
                                </volist>
                            </if>
                        </div>
                    </div>
                    <div class="button-submit">
                        <if condition="$has eq 0">
                            <a href="javascript:void(0)" id="btnSubmit" class="button" onclick="submitData()">提交</a>
                        <else />
                            <a href="javascript:void(0)" class="button button-disable" >您已提交</a>
                        </if>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidAdID" value="{$adcontext['adid']}" />
    <input type="hidden" id="hidAdMetaID" value="{$adcontext['admetaid']}" />
</block>
<block name="js">
    <script src="__PUBLIC__/js/templateGetInfo.js?v=__VERSION__"></script>
</block>
