<extend name="layout/master" />
<block name="title">地址编辑</block>
<block name="head">
    <link href="__PUBLIC__/css/address.css?v=__VERSION__" rel="stylesheet" />
    <link href="__PUBLIC__/css/details-comm.css?v=__VERSION__" rel="stylesheet" />
    <link href="__PUBLIC__/css/balanceDetails.css?v=__VERSION__" rel="stylesheet" />
    <link href="__PUBLIC__/css/addressEdit.css?v=__VERSION__" rel="stylesheet" />
    <style>
        .dividing{
            padding:0.12rem 0rem;
            background: #F0F0EF;
        }
        .main-form{
            margin-top: 0px;
            height:5rem;
            background: #fff;
            padding:0rem 0.2rem;
        }
        .color-remarks{
            color:#808080;
        }
        .form-item{
            padding:0.15rem 0.1rem;
        }
        .dividing-line::after{
            border-top:1px solid #ccc;
        }
    </style>
</block>
<block name="content">
    <div class="content-padding abs100">
        <div id="addressContent">
            <div class="user-info">
                <img class="bg" src="__PUBLIC__/spring/images/user-center-bg.jpg" />
                <div>
                    <img class="head" src="{$users['wx_pic']|default='__PUBLIC__/images/temp/user-user-head.jpg'}" />
                    <span class="name color-white">{$users['wx_name']|default="未知"}</span>
                </div>
            </div>
            <div class="dividing">
                <div class="color-link">
                    <img src="__PUBLIC__/images/label.png" class="label">
                    <span>我的地址</span>
                </div>
            </div>
            <div class="main-form">
                <div class="pr dividing-line mt10"></div>
                <div class="form-item dividing-line">
                    <div class="wrap">
                        <label class="color-remarks">收货人</label>
                        <div class="wrap-content">
                            <input class="color-link" id="txtName" maxlength="10" value="{$address.real_name}" type="text" placeholder="收货人姓名" />
                        </div>
                    </div>
                </div>
                <div class="form-item dividing-line">
                    <div class="wrap">
                        <label class="color-remarks">手机号码</label>
                        <div class="wrap-content">
                            <input class="color-link" id="txtPhone" value="{$address.phone}" type="number" placeholder="收货人手机号" />
                        </div>
                    </div>
                </div>
                <div class="form-item dividing-line" onclick="showSelect()">
                    <div class="wrap">
                        <label class="color-remarks">省份市区</label>
                        <div class="wrap-content">
                            <span class="color-link text-overhide" id="lblAddress"><if condition="empty($address[address])">请选择你所在的省份和市区<else/>{$address.address}</if></span>
                        </div>
                        <div>
                            <em></em>
                        </div>
                    </div>
                </div>
                <div class="form-item dividing-line">
                    <div class="wrap">
                        <label class="color-remarks">详细地址</label>
                        <div class="wrap-content">
                            <input class="color-link" id="txtAddress" value="{$address.detail_address}" type="text" maxlength="50" placeholder="收货详细地址" />
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="button" onclick="submitData()">保存地址</a>
        </div>
    </div>

    <div id="divSelect" class="abs100 address-select-bg">
        <div class="address-select">
            <div class="select-head dividing-line">
                <label>省份市区</label>
                <a onclick="hideSelect()" class="color-link" href="javascript:void(0)">×</a>
            </div>
            <div class="select-address color-remarks dividing-line">
                <div class="text-overhide" onclick="showSelectSon(0, this)" id="divProvinceVal">请选择省份</div>
                <div class="text-overhide" onclick="showSelectSon(1, this)" id="divCityVal">请选择城市</div>
                <div class="text-overhide" onclick="showSelectSon(2, this)" id="divCountyVal">请选择区县</div>
            </div>
            <div class="select-content color-link">
                <div class="abs100 ohide pr" id="divProvince">
                    <ul class="absm100" id="ulProvince"></ul>
                </div>
                <div class="abs100 ohide pr" id="divCity">
                    <ul class="absm100" id="ulCity"></ul>
                </div>
                <div class="abs100 ohide pr" id="divCounty">
                    <ul class="absm100" id="ulCounty"></ul>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidID" value="{$address.id}" />
</block>
<block name="js">
    <script src="__PUBLIC__/js/address.js?v=__VERSION__"></script>
    <script src="__PUBLIC__/js/address-data.js?v=__VERSION__"></script>
    <script src="__PUBLIC__/js/addressEdit.js?v=__VERSION__"></script>
</block>
