<extend name="layout/master" />
<block name="title">地址管理</block>
<block name="head">
	<link href="__PUBLIC__/css/address.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
	<div class="content-padding abs100">
		<div class="h100 ohide pr">
			<ul class="absm100" id="addressContent">
				<!-- 这个 id="liItem1" 里面的1请改成地址ID -->
				<volist name="list" id="address">
				<li class="address-item dividing-line" id="liItem{$address.id}">
					<div class="clear">
						<label class="color-link">{$address.real_name}</label>
						<span class="color-orange">{$address.phone}</span>
					</div>
					<p class="text-overhide color-link dividing-line pr">{$address.address}</p>
					<div class="clear color-link pr address-edit">
						<a class="color-link pr <if condition='$address.default eq 1'>active</if>" href="javascript:void(0)" onclick="selectedItem(this, '{$address[id]}')">默认地址</a>
						<em>
							<a class="color-link" href="javascript:void(0)" data-href="{:tsurl('/user/addressedit',array('id'=>$address[id]))}" onclick="gotoLink(this, '地址管理页-点击编辑', '{$address[id]}')"><i class="iconfont">&#xe617;</i><i>编辑</i></a>
							<!-- 这个 id="deleteItem(1)" 里面的1请改成地址ID -->
							<a class="color-link" href="javascript:void(0)" onclick="deleteItem('{$address.id}')"><i class="iconfont">&#xe618;</i><i>删除</i></a>
						</em>
					</div>
				</li>
				</volist>
                <li class="button-item">
                    <a href="javascript:void(0)" data-href="{:tsurl('/user/addressedit')}" class="button" onclick="gotoLink(this, '地址管理页-点击新增地址')">新增地址</a>
                </li>
			</ul>
		</div>
	</div>
</block>
<block name="js">
	<script src="__PUBLIC__/js/address.js?v=__VERSION__"></script>
</block>
