<extend name="Layout/master" />
<block name="title">提现</block>
<block name="head">
	<link href="__PUBLIC__/css/cash.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
	<div class="content-padding abs100">
		<div id="cashContent">
			<div class="user-info">
				<img class="bg" src="__PUBLIC__/spring/images/user-center-bg.jpg" />
				<div class="wrap">
					<div><img class="head" src="{$users['wx_pic']|default='__PUBLIC__/images/header.jpg'}" /></div>
					<div class="color-white wrap-content">
						<div class="name">{$users['wx_name']|default="未知"}</div>
						<div class="money">￥{$admin['total_amount']|default='0.00'}</div>
						<div class="total">累计提现￥{$admin['total_cash_amount']|default='0.00'}</div>
					</div>
				</div>
			</div>
			<div class="use-content">
				<div class="cash-money">
					<p class="color-link">提现金额:</p>
					<div>
						<input type="hidden" name="total_amount" value="{$admin['total_amount']}" />
						<input type="text" maxlength="7" id="txtMoney" placeholder="请输入大于1元的金额" />
					</div>
				</div>
				<div class="color-remarks cash-remarks">本月剩余提现次数:{$surplus_cash_count}次</div>
				<a href="javascript:void(0)" id="btnCash" class="button button-cash">提现</a>
				<div class="dividing-text color-link"><span>温馨提示</span></div>
			</div>
			<div class="guide color-link">
				<ol>
					<li>提现成功后，红包将在2小时内自动存入微信零钱；</li>
					<li>每个用户每月最多只能提现3次；</li>
					<li>提现时需要关注我们的公众号，以便接收现金红包；</li>
					<li>如果提现过程中出现不稳定情况，可联系在线客服；</li>
					<li>对于任何形式的作弊行为，本公司持有法律起诉权。</li>
				</ol>
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script src="__PUBLIC__/js/cash.js?v=__VERSION__&t=7"></script>
	<script src="http://zb.weixin.qq.com/nearbycgi/addcontact/BeaconAddContactJsBridge.js"></script>
</block>
