<extend name="layout/master" />
<block name="title">地址编辑</block>
<block name="head">
    <link href="__PUBLIC__/css/addressEdit.css?v=__VERSION__" rel="stylesheet" />
</block>
<block name="content">
    <div class="content-padding abs100">
        <div class="h100 ohide pr">
            <div class="absm100" id="addressEditContent">
                <div class="main-form">
                    <div class="pr dividing-line mt10"></div>
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <label class="color-remarks">收货人</label>
                            <div class="wrap-content">
                                <input class="color-link" id="txtName" maxlength="10" value="{$express.receive_user}" type="text" placeholder="收货人姓名" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <label class="color-remarks">手机号码</label>
                            <div class="wrap-content">
                                <input class="color-link" id="txtPhone" value="{$express.receive_phone}" type="number" placeholder="收货人手机号" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item dividing-line" onclick="showSelect()">
                        <div class="wrap">
                            <label class="color-remarks">省份市区</label>
                            <div class="wrap-content">
                                <span class="color-link text-overhide" id="lblAddress"><if condition="empty($express[receive_address])">请选择省份市区<else/>{$express.receive_address}</if></span>
                            </div>
                            <div>
                                <em></em>
                            </div>
                        </div>
                    </div>
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <label class="color-remarks">详细地址</label>
                            <div class="wrap-content">
                                <input class="color-link" id="txtAddress" value="{$express.receive_detail_address}" type="text" maxlength="50" placeholder="收货详细地址" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <label class="color-remarks">订单备注</label>
                            <div class="wrap-content">
                                <input class="color-link" id="remark" value="{$express.receive_remark}" type="text" maxlength="50" placeholder="订单备注" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <div class="wrap-content">
                                <span id="lblDefault" data-value="0" class="color-remarks radio-default selected" onclick="checkedRadio(this,'radio-default')">自定义地址</span>
                            </div>
                        </div>
                    </div>
                    <volist name="list" id="address">
                    <div class="form-item dividing-line">
                        <div class="wrap">
                            <div class="wrap-content">
                                <span id="lblDefault{$i}" data-value="{$address.id}" class="color-remarks radio-default " onclick="checkedRadio(this,'radio-default')">{$address.real_name},{$address.phone},{$address.address}{$address.detail_address}</span>
                            </div>
                        </div>
                    </div>
                    </volist>
                    <a href="javascript:void(0)" class="button" onclick="submitData()">保存地址</a>
                </div>
            </div>
        </div>
    </div>
    <div id="divSelect" class="abs100 address-select-bg">
        <div class="address-select">
            <div class="select-head dividing-line">
                <label>省份市区</label>
                <a onclick="hideSelect()" class="color-link" href="javascript:void(0)">×</a>
            </div>
            <div class="select-address color-remarks dividing-line">
                <div class="text-overhide" onclick="showSelectSon(0, this)" id="divProvinceVal">请选择省份</div>
                <div class="text-overhide" onclick="showSelectSon(1, this)" id="divCityVal">请选择城市</div>
                <div class="text-overhide" onclick="showSelectSon(2, this)" id="divCountyVal">请选择区县</div>
            </div>
            <div class="select-content color-link">
                <div class="abs100 ohide pr" id="divProvince">
                    <ul class="absm100" id="ulProvince"></ul>
                </div>
                <div class="abs100 ohide pr" id="divCity">
                    <ul class="absm100" id="ulCity"></ul>
                </div>
                <div class="abs100 ohide pr" id="divCounty">
                    <ul class="absm100" id="ulCounty"></ul>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidID" value="{$express.id}" />
</block>
<block name="js">
    <script src="__PUBLIC__/js/address-data.js?v=__VERSION__"></script>
    <script src="__PUBLIC__/js/express.js?v=__VERSION__"></script>
</block>
