<extend name="layout/master" />
<block name="title">余额详情</block>
<block name="head">
    <link href="__PUBLIC__/css/details-comm.css?v=__VERSION__" rel="stylesheet" />
    <link href="__PUBLIC__/css/balanceDetails.css?v=__VERSION__" rel="stylesheet" />
    <style>
        .button-list{
            margin-top: 10px;
            padding: 15px;
            background: #F0F0EF;
        }
        .dividing{
            padding:0.12rem 0rem;
            background: #F0F0EF;
        }
    </style>
</block>
<block name="content">
    <div class="content-padding abs100">
        <div id="balanceDetailsContent" class="wrap wrap-vertical">
            <div class="user-info">
                <img class="bg" src="__PUBLIC__/spring/images/user-center-bg.jpg" />
                <div>
                    <img class="head" src="{$users['wx_pic']|default='__PUBLIC__/images/header.jpg'}" />
                    <span class="name color-white">{$users['wx_name']|default="未知"}</span>
                </div>
            </div>
            <div>
                <div class="text-item-tab wrap">
                    <a href="{:tsurl('/user/index')}" class="color-link wrap-content active">个人余额：<span class="color-focus">￥{$admin['total_amount']|default='0.00'}</span></a>
                </div>
            </div>
            <div class="dividing">
                <div class="color-link">
                    <img src="__PUBLIC__/images/label.png" class="label">
                    <span>余额详情</span>
                </div>
            </div>
            <div class="wrap-content ohide">
                <div class="balanceDetails-items" id="balanceDetailsItems" data-page="{$total_pages}" data-type="money">
                    <volist name="list" id="item">
                    <a href="javascript:void(0)" class="wrap <if condition="$item.money lt 0">color-green<else/>color-link</if>">
						<span class="wrap-content" style="width: 60%;">
							<i class="text-overhide">{$item.title}</i>
							<i>{$item.create_time|date='Y-m-d H:i:s',###}</i>
						</span>
                        <span class="<if condition="$item.money lt 0">color-green<else/>color-text</if>"><if condition="$item.money gt 0">+</if>{$item.money} ￥</span>
                    </a>
                    </volist>
                </div>
            </div>
            <!--新增两个button-->
            <div class="button-list">
                <a onclick="gotoLink(this)" href="javascript:void(0)" data-href="{:tsurl('/user/index')}" class="button loginBtn">个人中心</a>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/balanceDetails.js?v=__VERSION__&1"></script>
</block>
