<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-orientation" content="landscape" />
    <meta name="x5-page-mode" content="app" />
    <title><block name="title"></block>{:C('basic.title')}</title>
    <meta charset="utf-8" />
    <!--<block name='title'></block>-->
    <link href="__PUBLIC__/css/comm.css?v=__VERSION__" rel="stylesheet" />
	<block name="head"></block>
    <link href="__PUBLIC__/spring/css/template.css?v=__VERSION__" rel="stylesheet" />
    <style>
        .personalInfo{
            position: absolute;
            left:0;
            bottom: 5px;
            font-size: 12px;
        }
        .personalInfo span:nth-child(2n+1){
            color: #222;
        }
        .personalInfo .money,.mb{
            margin:0px 0px 0px 2px;
        }
        .personalInfo .money{
            color: #F95C58;
        }
        .personalInfo .mb{
            color: #EF6E50;
        }
    </style>
</head>
<body>
    <div class="abs100 ohide">
        <!-- 左侧导航菜单 Begin -->
        <div id="leftMenu" class="left-menu">
            <div class="left-user">
                <img src="__PUBLIC__/spring/images/user-top-bg.png" />
                <a class="wrap" href="javascript:void(0)" data-href="{:tsurl('/user/index')}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮1')">
                    <span><img src="{$users['wx_pic']|default='__PUBLIC__/images/header.jpg'}" /></span>
                    <span class="wrap-content">
                        <span class="text-overhide">{$users['wx_name']|default='未知'}</span>
                        <i class="text-overhide" id="lblUserMobile"><if condition="$isLogin">{: substr_replace($users['mobile'],'*****','3','5')}<else/>点击登录</if></i>
                    </span>
                </a>
                <!--余额,M币-->
                <div class="personalInfo">
                    <span style="padding-left: 5px;">我的余额:</span>
                    <span class="money">{$admin['total_amount']|default='0.00'}￥</span>
                </div>
            </div>

            <div class="left-menu-group dividing-line">

                <a class="left-menu-item wrap" href="javascript:void(0)" data-href="{:tsurl('/user/index')}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮4')">
                    <div class="menu-icon" style="width: 48px;height: 48px;"><img src="__PUBLIC__/images/personal.png" style="width: 100%;height: 100%;margin-top: -10px;" /></div>
                    <span class="wrap-content">个人中心</span>
                </a>
                <a class="left-menu-item wrap" href="javascript:void(0)" data-href="{:tsurl('/user/change_bind')}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮6')">
                    <div class="menu-icon" style="width: 48px;height: 48px;"><img src="__PUBLIC__/images/bind-mobile.png" style="width: 100%;height: 100%;margin-top: -10px;" /></div>
                    <span class="wrap-content">更绑手机</span>
                </a>

                <if condition="in_array(5, explode(',',$user['role_list']))">
                    <a class="left-menu-item wrap" href="javascript:void(0)" data-href="{:tsurl('/user/device')}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮6')">
                        <div class="menu-icon" style="width: 48px;height: 48px;"><img src="__PUBLIC__/images/game.png" style="width: 100%;height: 100%;margin-top: -10px;" /></div>
                        <span class="wrap-content">定位魔座</span>
                    </a>
                    <else/>
                <a class="left-menu-item wrap" href="javascript:void(0)" data-href="{:tsurl('/user/device')}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮6')">
                    <div class="menu-icon" style="width: 48px;height: 48px;"><img src="__PUBLIC__/images/introduction.png" style="width: 100%;height: 100%;margin-top: -10px;" /></div>
                    <span class="wrap-content">附近魔座</span>
                </a>
                </if>

                <volist id="role" name=":explode(',',$admin['role_list'])">
                    <a class="left-menu-item wrap" href="javascript:void(0)" data-href="{:tsurl('/user/record',['role'=>$role])}" onclick="leftMenuClick(this, 'V4侧边导航栏-点击按钮6')">
                        <div class="menu-icon" style="width: 48px;height: 48px;"><img src="__PUBLIC__/images/game.png" style="width: 100%;height: 100%;margin-top: -10px;" /></div>
                        <span class="wrap-content">{:admin_user_role($role)}流水</span>
                    </a>
                </volist>

            </div>
        </div>
        <!-- 左侧导航菜单 End -->
        <!-- 内容区域 Begin -->
        <div id="contentContainer" class="content-container">
			<block name="content"></block>
            <if condition="$gfrom neq 5">
            <if condition="$is_index eq 1">
			    <div class="menu-fixed">
                    <a href="javascript:void(0)" id="btnShowLeftMenu" class="iconfont color-link" style="color: #fff;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background-color: rgba(204,204,204,.3);width: 38px;height: 38px;"><block name="fixedColor"></block>&#xe60e;</a>
                </div>
            <else/>
                <div class="menu-fixed" style="opacity:1;background: #fff;">
                    <a href="javascript:void(0)" id="btnShowLeftMenu" class="iconfont color-link"><block name="fixedColor"></block>&#xe60e;</a>
                </div>
            </if>
            </if>
			<div class="content-mask"></div>
		</div>
    </div>

    <!-- 全局隐藏域参数 Begin -->
    <input id="global_from" name="gfrom" type="hidden" value="{$gfrom}" />
    <input id="global_type" name="type" type="hidden" value="{$type}" />
    <input id="hidAppid" type="hidden" value="{$signature['appid']}" />
    <input id="hidTimestamp" type="hidden" value="{$signature['time']}" />
    <input id="hidSignature" type="hidden" value="{$signature['ticket']}" />
    <input id="hidNoncestr" type="hidden" value="{$signature['str']}" />

    <input id="hidShareTitle" type="hidden" value="{$share_title|default=$share_default_title}" />
    <input id="hidShareDesc" type="hidden" value="{$share_desc|default=$share_default_sub_title}" />
    <input id="hidShareLink" type="hidden" value="{$share_link|default=tsurl('/index/index',array('gfrom'=>3),true,true)}" />
    <input id="hidShareImage" type="hidden" value="{$share_img|default=$share_default_pic}" />
    <!-- 全局隐藏域参数 End -->

	<!-- 脚本区域 Begin -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="__PUBLIC__/js/comm.js?v=3__VERSION__"></script>

    <if condition="($type eq 63) and ($gfrom eq 1)" >
        <script src="http://zb.weixin.qq.com/nearbycgi/addcontact/BeaconAddContactJsBridge.js"></script>
        <script type="text/javascript">
            var myDate = new Date();
            var t = myDate.getTime();
            tools.ajax(tools.url("active", "get_user_subscribe"),{'t':t},function (ret) {
                tools.closeLoading();
                if(ret.data.userSubscribe != 1){
                    tools.alert("您尚未关注我们的公众号请先关注我们再执行此操作",function(){
                        BeaconAddContactJsBridge.invoke('jumpAddContact');
                    });
                }
            });
        </script>

    </if>
	<block name="js">

    </block>
	<!-- 脚本区域 End -->
</body>
</html>