<extend name="Layout/master" />
<block name="title">评论编辑-</block>
<block name="head">

    <script type="text/javascript">
        document.domain = 'millionmake.com';
    </script>
</block>
<block name="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class=""> <a href="{:U('/active/comment',['id'=>$item['id']])}" target="_self" class="btn btn-primary ">返回</a> </div>
                <div class="ibox-title">
                    <h5><a href="{:U('/active/comment',['id'=>$item['id']])}"> 评论管理</a> > <small>评论编辑</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" name="edit" target="_self" action="{:U('/active/commentedit')}" class="form-horizontal">
                        <input type="hidden" name="id" value="{$id}" />
                        <input type="hidden" name="comment_id" value="{$comment_id}" />
                        <input type="hidden" name="join_id" value="{$join_id}" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">参与用户：</label>
                            <div class="col-sm-10">
                                <select type="text" name="openid"  class="form-control">
                                    <volist name="user_list" id="user">
                                        <option value="{$user.openid}"><img src="{$user.wx_pic}" style="width: 90px;" />{$user.wx_name}</option>
                                    </volist>
                                </select>
                                <span class="help-block m-b-none" style="color: #777">* 选择参与用户</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">评论内容：</label>
                            <div class="col-sm-10">
                                <input type="text" name="content" value="{$detail.content}" class="form-control">
                                <span class="help-block m-b-none" style="color: #777">* 作品标题</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态：</label>
                            <div class="col-sm-10">
                                <select name="status" class="form-control">
                                    <option value="1" >正常</option>
                                    <option value="0" <if condition="$detail.status eq '0'">selected</if>>隐藏</option>
                                    <option value="99" <if condition="$detail.status eq '99'">selected</if>>删除</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>