.menu-fixed{
    background:#F0F0EF;
}
.ggk-container > img{
    display:block;
    width:100%;
}
.ggk-content{
    padding:20px 30px;
}
.ggk-padding{
    padding:0 30px 10px;
}
.ggk-main{
    margin-top:20px;
}
.ggk-main > div{
    height:2rem;
    overflow:hidden;
}
.ggk-main canvas{
    position:relative;
    width:100%;
    height:100%;
}
.ggk-label{
    line-height:100%;
    font-size:.44rem;
    color:#EBB528;
    background:#E94625;
    width:1rem;
    text-align:center;
    font-weight:bold;
    box-sizing:border-box;
    padding-top:.36rem;
    position:relative;
}
.ggk-content .circle{
    position:absolute;
    width:.16rem;
    height:.16rem;
    border-radius:100%;
    background:#fff;
}
.ggk-label i.circle{
    left:-.08rem;
    top:.04rem;
    box-shadow:0 .2rem 0 0 #ffffff, 
        0 .42rem 0 0 #ffffff, 
        0 .64rem 0 0 #ffffff, 
        0 .86rem 0 0 #ffffff, 
        0 1.08rem 0 0 #ffffff,
        0 1.3rem 0 0 #ffffff,
        0 1.52rem 0 0 #ffffff,
        0 1.74rem 0 0 #ffffff,
        0 1.96rem 0 0 #ffffff;
    -webkit-box-shadow:0 .2rem 0 0 #ffffff, 
        0 .42rem 0 0 #ffffff, 
        0 .64rem 0 0 #ffffff, 
        0 .86rem 0 0 #ffffff, 
        0 1.08rem 0 0 #ffffff,
        0 1.3rem 0 0 #ffffff,
        0 1.52rem 0 0 #ffffff,
        0 1.74rem 0 0 #ffffff,
        0 1.96rem 0 0 #ffffff;
}
.ggk-label b.circle, .ggk-label span.circle{
    width:.24rem;
    height:.24rem;
    top:-.12rem;
    right:-.12rem;
}
.ggk-label span.circle{
    top:auto;
    bottom:-.12rem;
}
.ggk-bg *{
    font-size:.6rem;
}
.ggk-bg .iconfont{
    padding-right:.1rem;
}
.ggk-bg{
    line-height:2rem;
    text-align:center;
    height:2rem;
    overflow:hidden;
    color:#CE392E;
    display:none;
}
.ggk-bg .wrap{
    margin-top:.35rem;
}
.ggk-bg img{
    margin:0 .2rem;
}
.ggk-bg .wrap, .ggk-bg .wrap > *{
    height:1.3rem;
    line-height:1.3rem;
    overflow:hidden;
    font-size:.4rem;
}
.ggk-main code{
    position:absolute;
    right:.4rem;
    top:.2rem;
    background:#555757;
    color:#fff;
    line-height:2.22;
    padding:0 10px;
    font-size:12px;
    display:none;
}
.ggk-main code em{
    padding:0 3px;
}
.dialog-result{
    width:270px;
    background:#fff;
}
.dialog-result .dialog-buttons{
    background:#fff;
}
.dialog-result img{
    display:block;
    width:139px;
    height:87px;
    margin:20px auto;
}
.dialog-result .dialog-buttons{
    padding:0 30px 20px;
}
.dialog-result .dialog-buttons a.button{
    height:34px;
    line-height:34px;
    margin-right:5px;
    font-size:14px;
}
.dialog-result .dialog-buttons a.button-empty{
    line-height:32px;
    margin-left:5px;
    margin-right:0;
}
.dialog-result .dialog-buttons::after{
    content:none;
}
.result-custom{
    font-size:14px;
    padding:0 15px;
    text-align:center;
    line-height:140%;
}
.result-custom p{
    padding-top:15px;
}