html, body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.heha-bg{
    display:block;
    width:100%;
}
.mobile-box{
    position:absolute;
    width:67.8625vw;
    height:7.2257vw;
    left:16vw;
    top:16vw;
    font-size:13px;
    padding:3px;
    box-sizing:border-box;
    line-height:6.5625vw;
}
.confrim-submit{
    width:37.5vw;
    height:7.5vw;
    position:absolute;
    left:31.25vw;
    top:28.4375vw;
}
.confrim-submit img{
    display:block;
    width:100%;
    height:100%;
}
.use-count, .surplus-count{
    height:3.59375vw;
    line-height:3.59375vw;
    font-size:3.59375vw;
    color:#e60012;
    position:absolute;
    top:42.3125vw;
    left:30.4375vw;
}
.surplus-count{
    left:86.575vw;
}
.lottery-box{
    position:absolute;
    width:79.6875vw;
    height:79.6875vw;
    left:10vw;
    top:32.3125vw;
}
.lottery-points{
    position:absolute;
    width:87.8125vw;
    height:87.8125vw;
    left:6.09375vw;
    top:48.28125vw;
}
.lottery-box img{
    display:block;
    width:100%;
    height:100%;
}
.lottery-points label{
    width:53.125vw;
    height:1.5625vw;
    position:absolute;
    left:50%;
    top:.46875vw;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.lottery-points label:nth-child(2){
    right:.46875vw;
    left:auto;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    height:53.125vw;
    width:1.5625vw;
}
.lottery-points label:nth-child(2) i, .lottery-points label:nth-child(4) i{
    margin:1.875vw 0;
}
.lottery-points label:nth-child(3){
    top:auto;
    bottom:.46875vw;
}
.lottery-points label:nth-child(4){
    left:.46875vw;
    right:auto;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    height:53.125vw;
    width:1.5625vw;
}
.lottery-points i{
    display:block;
    height:1.5625vw;
    width:1.5625vw;
    border-radius:50%;
    background-color:#fff715;
    float:left;
    margin:0 1.875vw;
}
.lottery-points i:nth-child(2n){
    background-color:white;
}
.lottery-points.animing i{
    animation:ease pointsAnim .2s infinite;
    -webkit-animation:ease pointsAnim .2s infinite;
}
.lottery-points.animing i:nth-child(2n){
    animation:ease pointsAnim1 .2s infinite;
    -webkit-animation:ease pointsAnim1 .2s infinite;
}
@keyframes pointsAnim{
    0%, 100%{
        background:#fff715;
    }
    50%{
        background:#fff;
    }
}
@-webkit-keyframes pointsAnim{
    0%, 100%{
        background:#fff715;
    }
    50%{
        background:#fff;
    }
}
@keyframes pointsAnim1{
    0%, 100%{
        background:#fff;
    }
    50%{
        background:#fff715;
    }
}
@-webkit-keyframes pointsAnim1{
    0%, 100%{
        background:#fff;
    }
    50%{
        background:#fff715;
    }
}
.lottert-logo{
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
}
.lottery-box div{
    width:24.6875vw;
    height:24.6875vw;
    border-radius:15px;
    position:absolute;
    left:5px;
    top:0;
    overflow:hidden;
    background:url(../images/activity/heha/heha-7.png) no-repeat;
    background-size:100% 100%;
}
.lottery-box p{
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 53vh;
}
.lottery-box .luckydraw{
    color: #C28677;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 64vh;
}
.lottery-box p:after{
    content: "";
    width: 100%;
    border: 1px dashed #fff;
    left: 0;
    top: 55px;
    position: absolute; 
}
.lottery-box div:nth-child(3), .lottery-box div:nth-child(4), .lottery-box div:nth-child(5){
    left:auto;
    right:0;
}
.lottery-box div:nth-child(5), .lottery-box div:nth-child(6), .lottery-box div:nth-child(7){
    top:auto;
    bottom:0;
}

.lottery-box div:nth-child(2), .lottery-box div:nth-child(6){
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.lottery-box div:nth-child(4), .lottery-box div:nth-child(8){
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.lottery-box a{
    width:22.65625vw;
    height:22.65625vw;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    border-radius:50%;
}
.lottery-box div.active{
    background-image:url(../images/activity/heha/heha-8.png);
}
.my-googs{
    position:absolute;
    right:11vw;
    top:139.53125vw;
    color:#ff4d2f;
    text-decoration:underline;
    line-height:100%;
    font-size:3.8125vw;
}
.winning{
    position: absolute;
    left: 0;
    top: 85vh;
    padding: 33px;
}
.winning img{
    display: block;
    width: 100%;
}
.activity{
    position: absolute;
    top: 113vh;
    padding: 33px;
}
.activity img{
    display: block;
    width: 100%;
}
.winnininfo{
    position: absolute;
    color: #fff;
    left: 65px;
    top: 90px;
}
.winnininfo .details{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.significantly{
    display: inline-block;
    width: 50vw;
}
.activity .activityinfo{
    position: absolute;
    top: 11vh;
    width: 72vw;
    padding: 11px;
}
.activity .activityinfo p{
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
}