html, body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.heha-bg{
    display:block;
    width:100%;
}
.heha-main a{
    position:absolute;
    text-indent:-1000px;
}
.goto-download{
    width:52.625vw;
    height:9vw;
    left:23.8vw;
    top:53vw;
    border-radius:1.5625vw;
}
input{
    position:absolute;
    width:51.5625vw;
    height:6.5625vw;
    left:25vw;
    top:72vw;
    font-size:13px;
    padding:3px;
    box-sizing:border-box;
    line-height:6.5625vw;
}
.submit-heha{
    top:72.3vw;
    width:15vw;
    height:6.5625vw;
    left:78.8vw;
}
.goto-lottery{
    top:96.57vw;
    width:52.5vw;
    height:9.125vw;
    left:23.75vw;
    border-radius:1.5625vw;
}
.lottery-count{
    height:3.59375vw;
    line-height:3.59375vw;
    font-size:3.59375vw;
    color:#252525;
    position:absolute;
    top:108.2vw;
    left:59vw;
}