html, body, .main-info{
    height:100%;
    overflow:hidden;
}
.menu-fixed {
    background: #F0F0EF;
}
.head-main{
    height:3.3rem;
    position:relative;
}
.head-main svg{
    display:block;
    width:100%;
    position:absolute;
    z-index:5;
}
.content-text{
    box-sizing:border-box;
    padding:0 15px;
}
.content-text > h2{
    padding:.56rem 0 .26rem;
    font-size:14px;
}
.content-text p{
    font-size:12px;
    line-height:130%;
    padding-bottom:5px;
}
.content-inputs{
    width:100%;
    position:absolute;
    bottom:0;
    background:#fff;
}
.input-top{
    height:5px;
    width:100%;
    background:#ECEBEA;
    position:relative;
}
.input-top::before{
    content:"";
    position:absolute;
    top:-30px;
    height:30px;
    width:100%;
    background:-webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,.1)), to(rgba(255,255,255,1)));
    background:linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
    background:-webkit-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
}
.input-items{
    padding:10px 30px 15px;
    max-height:135px;
    overflow:hidden;
}
#inputItems > .wrap{
    width:100%;
    margin-top:5px;
}
#inputItems input{
    width:100%;
    box-sizing:border-box;
    padding:10px 5px;
    height:40px;
    line-height:20px;
    font-size:14px;
    border:0;
}
#inputItems > .wrap > div{
    position:relative;
    height:40px;
    line-height:41px;
    overflow:hidden;
}
#inputItems > .wrap > div::before, .dividing-line-x::before{
    content:"";
    border-right:1px solid #6E6E6E;
    height:5px;
    width:0;
    transform:scaleX(.5);
    -webkit-transform:scaleX(.5);
    position:absolute;
    left:0;
    bottom:.5px;
}
#inputItems > .wrap > div:first-child{
    padding:0 20px;
}
#inputItems > .wrap > div:last-child::before{
    left:auto;
    right:0px;
}
.dividing-line-x{
    position:relative;
    width:1px;
}
.dividing-line-x::before{
    height:22px !important;
    top:10px;
}
.button-submit{
    padding:0 30px 15px;
}
g, .content-inputs{
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    transition:all ease .3s;
    -webkit-transition:all ease .3s;
}