.button{
    border-radius:20px;
}

.pull-down{
    bottom:-50px;
}
.menu-fixed, .content-container {
    background: #F0F0EF;
}
.comment-top{
    margin-top:40px;
}
.comment-top iframe{
    width:100%;
    height:3.65rem;
}
.comment-main{
    padding:10px 20px 10px;
    line-height:110%;
    background:#fff;
}
.comment-circle{
    width:56px;
    padding-right:10px;
    position:relative;
}
.comment-circle > div{
    width:56px;
    height:56px;
    line-height:56px;
    font-size:14px;
    border-radius:100%;
    background:#ECEBEA;
    overflow:hidden;
    position:relative;
    box-sizing:border-box;
    text-align:center;
    font-weight:bold;
}
.comment-title p{
    font-size:14px;
}
.comment-title div{
    padding-top:5px;
    font-size:13px;
}
.comment-footer{
    padding:10px 0;
}
.comment-footer .button{
    height:30px;
    line-height:30px;
}
.send-box{
    padding:0 10px;
}
.comment-footer .wrap-content{
    padding-left:10px;
}
.comment-footer, .comment-top{
    background:#fff;
}
.comment-footer input{
    background:#eee;
    height:30px;
    border-radius:6px;
    display:block;
    width:100%;
    padding:6px 5px;
    box-sizing:border-box;
    font-size:14px;
    line-height:18px;
}
.dividing-container{
    padding:5px 25px 0;
}
.comment-list{
    padding-bottom:5px;
    overflow:hidden;
}
.comment-list > div{
    background-color:#F0F0EF;
}
.comment-list .dividing-text label{
    background:#F0F0EF;
    font-size:12px;
}
.comment-footer.dividing-line::after{
    border-color:#dadada;
    bottom:auto;
    top:0;
}
.comment-item{
    padding:0 10px;
    margin-top:5px;
}
.comment-item > div{
    background:#fff;
    border-radius:3px;
    padding:12px;
}
.comment-user img{
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
}
.comment-content{
    padding:0 10px;
    font-size:13px;
}
.comment-content em{
    line-height:100%;
    font-weight:normal;
}
.comment-content i{
    font-style:normal;
    margin-left:5px;
    font-size:11px;
}
.comment-content p{
    margin-top:8px;
    line-height:130%;
}
.comment-support img{
    display:block;
    width:100%;
}
.comment-support img:nth-child(2){
    position:absolute;
    left:0;
    top:0;
    opacity:0;
}
.support-yes img{
    opacity:0;
}
.support-yes img:nth-child(2){
    opacity:1;
}
.comment-support.animing img:nth-child(2){
    animation:support-yes-out .2s ease both;
    -webkit-animation:support-yes-out .2s ease both;
}
.support-yes.animing img:nth-child(2){
    animation:support-yes-in .2s ease both;
    -webkit-animation:support-yes-in .2s ease both;
}
.comment-support div{
    display:block;
    position:relative;
    width:20px;
    margin:10px auto 5px;
}
.comment-support label{
    display:block;
    text-align:center;
    font-size:11px;
    line-height:100%;
}
.comment-item blockquote{
    padding:5px;
    margin:0;
    border:1px solid #bfbfbf;
    margin-top:5px;
}
.comment-menus{
    position:fixed;
    bottom:0;
    left:0;
    background:rgba(0,0,0,.2);
    width:100%;
    height:100%;
    z-index:-1;
}
.comment-menus.show{
    animation:comment-menus-show .3s ease both;
    -webkit-animation:comment-menus-show .3s ease both;
}
.comment-menus.show ul{
    animation:comment-menus-item-show .3s ease both;
    -webkit-animation:comment-menus-item-show .3s ease both;
}
.comment-menus.hide{
    animation:comment-menus-hide .3s ease both;
    -webkit-animation:comment-menus-hide .3s ease both;
}
.comment-menus.hide ul{
    animation:comment-menus-item-hide .3s ease both;
    -webkit-animation:comment-menus-item-hide .3s ease both;
}
.comment-menus ul{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    transform:translate3d(0, 100%, 0);
    -webkit-transform:translate3d(0, 100%, 0);
}
.comment-menus li{
    height:41px;
    line-height:41px;
    text-align:center;
    position:relative;
    background:#fff;
}
.comment-menus li.color-orange{
    margin-top:5px;
}
@-webkit-keyframes support-yes-in{
    0%{
        transform:scale(2) translate3d(0,0,0);
        -webkit-transform:scale(2) translate3d(0,0,0);
        opacity:0;
    }
    100%{
        transform:scale(1) translate3d(0,0,0);
        -webkit-transform:scale(1) translate3d(0,0,0);
        opacity:1;
    }
}
@-webkit-keyframes support-yes-out{
    0%{
        transform:scale(1) translate3d(0,0,0);
        -webkit-transform:scale(1) translate3d(0,0,0);
        opacity:1;
    }
    100%{
        transform:scale(2) translate3d(0,0,0);
        -webkit-transform:scale(2) translate3d(0,0,0);
        opacity:0;
    }
}
@-webkit-keyframes comment-menus-show{
    0%{
        z-index:999;
        background:rgba(0,0,0,0);
    }
    100%{
        z-index:999;
        background:rgba(0,0,0,.2);
    }
}
@-webkit-keyframes comment-menus-hide{
    0%{
        z-index:999;
        background:rgba(0,0,0,.2);
    }
    99.9%{
        z-index:999;
        background:rgba(0,0,0,0);
    }
    100%{
        z-index:-1;
        background:rgba(0,0,0,0);
    }
}
@-webkit-keyframes comment-menus-item-show{
    0%{
        transform:translate3d(0,100%,0);
        -webkit-transform:translate3d(0,100%,0);
    }
    100%{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
}
@-webkit-keyframes comment-menus-item-hide{
    0%{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
    100%{
        transform:translate3d(0,100%,0);
        -webkit-transform:translate3d(0,100%,0);
    }
}