#winningDetailsContent {
    height:100%;
}
.winningDetails-items{
    position:absolute;
    width:100%;
    background:#fff;
    min-height:100%;
    box-sizing:border-box;
}
.winningDetails-items > .dividing-line::after{
    width:92%;
    left:4%;
}
.winningDetails-items a{
    line-height:40px;
    padding:10px 0;
}
.winningDetails-items i{
    font-style:normal;
    display:block;
    line-height:21px;
    height:20px;
    overflow:hidden;
    font-size:14px;
}
.winningDetails-items span{
    padding:0 50px 0 15px;
}
.winningDetails-items span.wrap-content{
    padding:0 15px;
}
.winningDetails-items > div:nth-last-child(2)::after{
    border-width:0;
}