<extend name="Layout/master" />
<block name="title">用户管理-</block>
<block name="head">
  <style type="text/css">
    .stat_block{font-size: 24px;padding-bottom: 15px;}
    .stat_block .stat_ico{ float:left; margin-left:30px; font-size:42px; margin-top: 22px; color:#0099ff}
    .stat_block .stat_total{float:left; clear:both; margin-top:5px; color: red; font-size: 40px}
    .stat_block .stat_label{float: left; clear: both; font-weight: normal !important; font-size: 16px; color: #999}
  </style>
</block>
<block name="content">
  <div class="m-b-sm"><a href="{:U('/order/index',['tab'=>$user['tab']])}" target="_self" class="btn btn-primary ">返回</a> </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>【{:admin_user_role($user[role])}】{$user.contact_name}-佣金统计</h5>
          <div class="ibox-tools">

          </div>
        </div>
        <div class="ibox-content stat_block">

          <div class="col-sm-2 p-m  white-bg border-right ">
            <i class="fa fa-credit-card stat_ico"></i>
                    <span style="float:left; margin-left: 20px;">
                        <span class="stat_label">佣金总收入（元）</span>
                        <span class="stat_total"><strong>{$user.total_income_amount}</strong></span>
                    </span>
          </div>
          <div class="col-sm-2 p-m  white-bg border-right ">
            <i class="fa fa-cny stat_ico" style=" color:#33cc00"></i>
                    <span style="float:left; margin-left: 20px;">
                        <span class="stat_label">佣金余额（元）</span>
                        <span class="stat_total"><strong>{$user.total_amount}</strong></span>
                    </span>
          </div>
          <div class="col-sm-2 p-m  white-bg border-right ">
            <i class="fa fa-dollar stat_ico" style="color:#ff6600"></i>
                    <span style="float:left; margin-left: 20px;">
                        <span class="stat_label">提现总额（元）</span>
                        <span class="stat_total"><strong>{$user.total_cash_amount}</strong></span>
                    </span>
          </div>
          <div class="col-sm-2 p-m  white-bg border-right ">
            <i class="fa fa-cart-plus stat_ico" style="color:#ff6600"></i>
                    <span style="float:left; margin-left: 20px;">
                        <span class="stat_label">总订单（单）</span>
                        <span class="stat_total"><strong>{$user.total_orders}</strong></span>
                    </span>
          </div>

          <div style="clear: both; height: 1px;">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs-container ibox">
    <ul class="nav nav-tabs">
      <li class="<if condition='$tab eq ""'>active</if>"><a data-toggle="tab" href="{:U('/order/user',['id'=>$user['id'],'tab'=>''])}"> 佣金明细</a></li>
      <li class="<if condition='$tab eq "balance"'>active</if>"><a data-toggle="tab" href="{:U('/order/user',['id'=>$user['id'],'tab'=>'balance'])}"> 结算明细</a></li>
      <li class="<if condition='$tab eq "device"'>active</if>"><a data-toggle="tab" href="{:U('/order/user',['id'=>$user['id'],'tab'=>'device'])}" > 运营魔座</a></li>
    </ul>
    <div class="tab-content">
      <!--//交易流水模块-->
      <div id="tab-1" class="tab-pane <if condition='$tab eq "" '>active</if>">
      <div class="panel-body">
        <div class="m-b-md"></div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>交易ID</th>
              <th>交易时间</th>
              <th>交易金额</th>
              <th>收入金额</th>
              <th>交易套餐</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="item">
              <tr class="gradeX">
                <td>{$item.id}</td>
                <td>{:timestampToDate($item['create_time'])}</td>
                <td>{$item.package_amount}</td>
                <td><if condition="$user[role] eq 2">{$item.operational_money}<elseif condition="$user[role] eq 3"/>{$item.channel_money}
                  <elseif condition="$user[role] eq 4"/>{$item.device_money}<elseif condition="$user[role] eq 5" />{$item.spread_money}</if></td>
                <td>{:package_info($item[package_id])}</td>
              </tr>
            </volist>
            </tbody>
          </table>
        </div>
        <div class="row ">
          <div class="pages">{$page}</div>
        </div>
      </div>
    </div>
    <!--//交易流水模块-->

    <!--//结算模块-->
    <div id="tab-2" class="tab-pane <if condition='$tab eq "balance"'>active</if>">
    <div class="panel-body">
      <div class="m-b-md"> </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>结算ID</th>
            <th>结算时间</th>
            <th>结算金额</th>
            <th>微信流水</th>
          </tr>
          </thead>
          <tbody>
          <volist name="list" id="item">
            <tr class="gradeX">
              <td>{$item.id}</td>
              <td>{:timestampToDate($item['create_time'])}</td>
              <td>{$item.cash_amount}</td>
              <td>{$item.payment_no}</td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <div class="row ">
        <div class="pages">{$page}</div>
      </div>
    </div>
  </div>
  <!--//结算模块-->

  <!--//魔座模块-->
  <div id="tab-3" class="tab-pane <if condition='$tab eq "device"'>active</if>">
  <div class="panel-body">
    <div class="m-b-md"> </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>设备编号</th>
          <th>设备城市</th>
          <th>设备门店</th>
          <th>设备状态</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
          <tr class="gradeX">
            <td>{$item.device_number}</td>
            <td>{:get_city(admin_user($item[user_id],false)['city_id'], true)}</td>
            <td>{:admin_user($item[user_id],false)['shop_name']}</td>
            <td><if condition="$item[status] eq 1"><font color="green">设备正常</font><elseif condition="$item[status] eq 2" /><font color="red" >设备异常</font><else/>设备删除</if> </td>
          </tr>
        </volist>
        </tbody>
      </table>
    </div>
    <div class="row ">
      <div class="pages">{$page}</div>
    </div>
  </div>
  </div>
  <!--//魔座模块-->
  </div>
  </div>
  </div>
</block>
<block name="js">
  <script type="text/javascript">
    $('a[data-toggle="tab"]').click(function(){
      window.location.href = $(this).attr('href');
    });
  </script>
</block>